<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
</head>
<body>

    <h1>Foo</h1>

    <form method="POST" action="/logout">
    
        <button type="submit">Wyloguj</button>        
    
    </form>

    <script type="text/javascript">

        const ws = new WebSocket("wss://localhost/");

        ws.onopen = () => {

            ws.onmessage = (msg) => {

                console.log(msg);

            }

            ws.send("foo");

        }

    </script>
    
</body>
</html>